* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #212529;
    display: flex;
    justify-content: space-around;
    padding: 0.5em 0;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav-links li {
    list-style: none;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.logo,
.nav-links a {
    text-decoration: none;
    color: white;
}

.container .nav-links .home-nav {
    color: red;
}

.nav-links li  a:hover {
    background-color: red;
    color: white !important;
    border-radius: 10px;
    transition: 0.3s;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    background-color: #212529;
    padding: 10px;
    gap: 10px;
    min-width: 150px;
}
.dropdown:hover .dropdown-menu {
    display: flex;
}
.dropdown-menu a {
    display: block;
    padding: 8px;
    white-space: nowrap;
}
.dropdown-menu a:hover {
    background-color: red;
    color: white;
    border-radius: 10px;
}
@media (max-width:655px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        gap: 0.4em;
    }
}